* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: #000000;
	color: #FFFFFF;
	font-family: 'NeueMachina-Inktrap', sans-serif;
}

.sticky-header {
	position: sticky;
	top: 0;
	background-color: #000000;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #FFFFFF;
	z-index: 1;
}

.sticky-header .logo h2 {
	font-size: 24px;
}

.sticky-header .menu {
	display: none;
}

.sticky-header .menu ul {
	list-style: none;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.sticky-header .menu ul li {
	margin-right: 20px;
}

.sticky-header .menu ul li:last-child {
	margin-right: 0;
}

.sticky-header .menu ul li a {
	color: #FFFFFF;
	text-decoration: none;
}

@media screen and (min-width: 768px) {
	.sticky-header .logo h2 {
		font-size: 36px;
	}

	.sticky-header .menu {
		display: block;
	}

	.sticky-header .menu ul {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	.sticky-header .menu ul li {
		margin-right: 30px;
	}

	.sticky-header .menu ul li:last-child {
		margin-right: 0;
	}
}

.projects-section {
	padding: 50px 20px;
}

.projects-section h1 {
	font-size: 36px;
	margin-bottom: 30px;
	text-align: center;
}

.projects-section table {
	width: 100%;
}

.projects-section table td {
	padding: 20px;
	border: 1px solid #FFFFFF;
}

@media screen and (min-width: 768px) {
	.projects-section table {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 20px;
	}

	.projects-section table td {
		height: 200px;
	}
}

@media screen and (min-width: 1024px) {
	.projects-section table {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 20px;
	}

	.projects-section table td {
		height: 250px;
	}
}

footer {
	background-color: #000000;
	padding: 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	border-top: 1px solid #FFFFFF;
}

.social-media a {
	color: #FFFFFF;
	margin-right: 20px;
	text-decoration: none;
}

.contact a {
	color: #FFFFFF;
	text-decoration: none;
}